.confirm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
    
    
  }
  
  /* Contenedor del contenido */
  .confirm-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    min-width: 300px;
    max-width: 90%;
    text-align: center;
    
    
  }
.confirm-options{
  margin: 10px;
}
.confirm-content button{
  margin: 5px;
  width: 70px;
  font-size: 16px;
}
  