.torneos {
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenedor principal */
    padding: 20px;
}

.btn-crear-torneo {
    position: fixed;
    z-index: 100;
    right: 20px;
    bottom: 20px;
    font-size: 50px;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    height: 80px;
    width: 80px;
    border-radius: 30px;
    cursor: pointer;
}
.btn-crear-torneo:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
/* Fondo del CrearTorneo */
.crear-torneo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Contenedor del contenido */
.crear-torneo-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    min-width: 300px;
    max-width: 90%;
    text-align: center;
}

.crear-torneo-content input {
    width: 80%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-crear{
    background-color: rgb(46, 139, 87);

    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Botón de cerrar (X) */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #000000;
}

.close-btn:hover {
    color: red;
}

.torneos-list {
    display: grid;
    grid-template-columns: 1fr; /* Por defecto: una columna */
    gap: 30px; /* Aumentado de 16px a 30px para más espacio entre torneos */
    justify-content: center; /* Centra los elementos horizontalmente */
    width: 100%;
    max-width: 380px; /* Ancho máximo cuando está en una columna */
    margin: 0 auto; /* Centra la lista */
}

.torneo-item {
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    transition: box-shadow 0.3s ease;
    width: 100%; /* Utiliza el 100% del ancho disponible */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.torneo-item:hover {
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.5);
}

.torneo-delete-btn {
    background-color: rgb(255, 24, 24);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    transition: box-shadow 0.5s ease;
    color : black;
}

.torneo-delete-btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

/* Pantallas medianas (tablets) */
@media (min-width: 768px) {
    .torneos-list {
        grid-template-columns: repeat(2, 1fr); 
        max-width: 780px; 
    }
}

/* Pantallas grandes (desktops) */
@media (min-width: 1024px) {
    .torneos-list {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas */
        max-width: 1200px; /* Ajusta según el tamaño deseado */
    }
}